<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">z  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="/evara-backend/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/evara-backend/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/evara-backend/assets/imgs/items/Clutchshoe_.-removebg-preview-removebg-preview.png" class="logo" alt="Evara Dashboard" >
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
                <li style="color: #292f46;;">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag" style="color: #adb5bd;"></i>
                        <span class="text">Products</span>
                    </a>
                
                </li>
           
                    <a class="menu-link" href="/admin/orderList"> 
                        <span>Order list</span>
                    </a>
  
   
                <li class="menu-item has-submenu">
                    <!-- <a class="menu-link" href="/admin/user"> <i class="icon material-icons md-person"></i>
                        user
                    </a>
                     -->
                    <a href="/admin/user" style="    right: -10px;
                    position: relative;
                    color: #292f46;">   <i class="icon material-icons md-person"></i>  users</a>
                </li>
                <li >
                    <a class="menu-link" href="/admin/couponList"> 
                        <span class="text"></span>Coupons
                    </a>
               
                </li>
                <li class="menu-item has-submenu"><i class="icon material-icons md-monetization_on"></i>
                    <div style="position: absolute; left: 20%;margin-top: -7%;">
                        <a href="/admin/category" style="color: #292f46;">category</a> 
                    </div>
                    
                
                        <!-- <span class="text">Category</span> -->
                 
                 
                </li>
                <!-- <li class="menu-item has-submenu"> -->
                    <a class="menu-link" href="/admin/sales"> 
                        <span class="text" style="left:7%; position:  relative;">salesreport</span>
                    </a>
                 
                </li>
               
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">offers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">category</a>
                        <a href="page-transactions-2.html">product</a>
               
                    </div> -->
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Payments</span> </a>
                </li>
              
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item"> <i class="fa-solid fa-right-from-bracket"></i> 
                    <a  style="left: 5%; font-size: 10px;" class="menu-link" href="/admin/signin">
                     <span>Logout</span>
                    </a >
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform" method="GET" action="/admin/users">
                    <div class="input-group">
                        <input 
                            type="text" 
                            name="search" 
                            class="form-control" 
                            placeholder="Search by username or email" 
                            style="border: solid 1px gray; border-radius: 5%;"
                        >
                        <button class="btn btn-light" type="submit"> 
                            <i class="material-icons md-search"></i>
                        </button>
                    </div>
                </form>
                
            </div>
            
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <!-- <li class="dropdown nav-item"> -->
                        <!-- <Form action="/admin/signin" method="post">
                            <a href="/admin/signin">LOGIN</a>
                        </Form> -->
                        <!-- <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                        </div> 
                    <!-- </li> -->
                    <!-- <a class="dropdown-item text-danger" href="/signin"><i class="material-icons md-exit_to_app"></i>Logout</a>  -->
                <!-- </ul>
            </div> -->


        </header>

