
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../views/partial/user/header')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/evara-frontend/assets/css/address.css">
</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <img alt="Profile Picture" src="https://storage.googleapis.com/a1aa/image/1qJGdvH1JB6cOFHWMNrVluGJRJYp152igdTI4RNouO1kNb6E.jpg"/>
            <h2><%= user ? user.name : 'Guest' %></h2>
        </div>
        <ul class="menu">
            <li><a href="/profile"><i class="fas fa-user"></i> Account Overview</a></li>
            <li><a href="#"><i class="fas fa-box"></i> My Orders</a></li>
            <li><a class="active" href=""><i class="fas fa-address-book"></i> Manage Addresses</a></li>
            <li><a href="#"><i class="fas fa-wallet"></i> Wallet</a></li>
        </ul>
        <a class="logout" href="#">LOGOUT</a>
    </div>
    
    <div class="content">
        <div class="form-container">
            <div class="d-flex justify-content-between align-items-center text-right     mb-3">
                <h3 class="mb-0">Add Address</h3>
    
                <button class="btn btn-primary">
                    <a href="/viewAddress" class="text-white text-decoration-none">View Address</a>
                </button>
            </div>
            
            <form action="/address/addAddress" method="POST" id="addressForm">
                <div class="form-group">
                    <input name="Firstname" placeholder="First Name" type="text" >
                    <input name="Lastname" placeholder="Last Name" type="text" >
                </div>
                <div class="form-group">
                    <input name="place" placeholder="Place" type="text" >
                    <input name="city" placeholder="City" type="text">
                </div>
                <div class="form-group">
                    <input name="district" placeholder="District" type="text" >
                    <input name="state" placeholder="State" type="text">
                </div>
                <div class="form-group">
                    <input name="country" placeholder="Country" type="text">
                    <input name="pin" placeholder="Pin Code" type="number" >
                </div>
                <div class="form-group">
                    <input name="type" placeholder="Type" type="text" >
                </div>
                <div class="form-actions">
                    <button type="button" class="cancel">Cancel</button>
                    <button type="submit" class="save">Save</button>
                </div>
            </form>
        </div>
    </div>


    <script>
        document.querySelector('.save').addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('addressForm').submit(); // Submit the form
        });
    </script>
</body>
</html>
<%-include('../../views/partial/user/footer')%>