<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <span>404</span>
        <h3>Page not found</h3>
        <a href="/">
            <button>Back to Home</button>
        </a>
     
    </div>
    <style>
        div{
            text-align: center;
            padding: 20px;
          
            border: 1px solid red;
            border-radius: 5px;
        
            margin: auto;
  width: 18%;
  border: 3px solid red;
  padding: 10px;
        }
        button{
            padding: 10px 20px;
            background-color: #09ed10;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        h3{
            color: red;
            font-weight: bold;

        }
        span{
            color: red;
            font-size: 40px;
        }
    </style>
</body>
</html>