<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/evara-frontend/assets/css/vendors/otp.css">
</head>
<style>
    .timer {
  background-color: cadetblue;
  width: 10%;
  height: 30px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: width 0.3s ease-in-out; /* Smooth transition */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  font-size: 14px; /* Font size */
  background: linear-gradient(135deg, #5f9ea0, #4682b4);

}

</style>
<body>

    <div class="container">
        <h1>OTP Verification</h1>
        <div class="timer" id="timer" style="background-color: cadetblue; width:10%"></div>
        <form id="otpForm" action="/verify-otp" method="POST">
            <input type="text" name="otp" id="otpInput" placeholder="Enter OTP">
            <button type="submit" id="butt">Submit OTP</button>
        </form>

        <form action="/resend-otp" id="resendForm" method="POST">
            <button id="resendOtp" style="display: none;" type="submit">Resend OTPeeee</button>
        </form>

        <div id="errorMessage" style="color: red; display: none;"></div>
    </div>

    <script src="/evara-frontend/assets/js/otp.js"></script>



</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  // Check if alertType and message are available and set them to empty strings if not
  const alertType = "<%= typeof alertType !== 'undefined' ? alertType : '' %>";
  const message = "<%= typeof message !== 'undefined' ? message : '' %>";
  const redirectUrl = "<%= typeof redirectUrl !== 'undefined' ? redirectUrl : '' %>";

  if (alertType && message) {
    Swal.fire({
      icon: alertType,
      title: message,
      showConfirmButton: false,
      timer: 2000,
    }).then(() => {
      if (redirectUrl) {
        window.location.href = redirectUrl; 
      }
    });
  }
</script>

<script>

</script>

</html>